@import "header.css";
@import "toolbox.css";
@import "canvas.css";

html {
    height:100%;
    font-family: 'Muli', sans-serif;
}

body {
    display: grid;
    grid-template-rows: 7em auto 1em;
    height: 100%;
}

main {
    display: grid;
    grid-template-rows: 4em auto;
    grid-template-columns: auto 20em;
    background-color: #C5C6C7;
}

h2 {
    color: #45A29E;
}

h6 {
    text-align: center;
}

/* Color scheme:
#45A29E - teal
#1F2833 - dark blue/black
#C5C6C7 - light gray
