<div id="modal" class="Modal">
    <div class="Modal-content">
        <span id="closeBtn" class="Close">&times;</span>
        <h2>Rectangle</h2><br>

        <form id = "modal_form">

            <label for="width">Width</label><br>
            <input type="number" id="width" value="50"><br>

            <label for="height">Height</label><br>
            <input type="number" id="height" value="50"><br>

            <label for="fill">Fill</label><br>
            <input type="color" id="fill" value="#000000"><br><br>

            <input type="submit" value="Submit">
          </form>
    </div>
</div>